.listas{
    border: 2px solid blue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: aqua;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}